Repository theolundqvist/tbrain: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-task-frontmatter, validate-task-metadata

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.12.0
    hooks:
      - id: mypy
        additional_dependencies: [types-tabulate, types-docutils]
        args: [--ignore-missing-imports, --check-untyped-defs]
  - repo: local
    hooks:
      - id: check-names
        name: Check for agent-instance names
        description: Verifies that we are not accidentally using names of agents in the template, or vice versa
        entry: ./gptme-contrib/scripts/precommit/check-names.sh
        language: system
        pass_filenames: false
        always_run: true
      - id: check-markdown-links
        name: Check markdown links
        description: Verifies all relative links in markdown files resolve correctly
        entry: python3 ./gptme-contrib/scripts/precommit/check_markdown_links.py
        language: system
        types: [markdown]
        pass_filenames: true
        # Exclude example files which intentionally have broken links
        exclude: ^projects/.*/examples/.*$
      - id: validate-task-frontmatter
        name: Validate task frontmatter
        description: Validates YAML frontmatter in task files
        entry: ./gptme-contrib/scripts/precommit/validate_task_frontmatter.py
        language: system
        types: [markdown]
        files: ^tasks/.*\.md$
      - id: validate-task-metadata
        name: Validate task metadata
        entry: bash -c 'if command -v gptodo &> /dev/null; then gptodo check; else echo "gptodo not installed (optional) - skipping validation"; fi'
        language: system
        types: [markdown]
        files: ^tasks/.*\.md$

docs(setup): complete initial agent setup
  ABOUT.md
  people/theodor-lundqvist.md
  tasks/initial-agent-setup.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs(journal): add initial setup session entry
  journal/2026-01-28-initial-setup.md
Due: check-markdown-links

docs(research): research autobok and document scrapchef access needs
  journal/2026-01-28-initial-setup.md
  knowledge/projects/autobok.md
  knowledge/projects/scrapchef-townsquare.md
Due: check-markdown-links

docs(knowledge): update TownSquare repository info with correct org name
  knowledge/projects/scrapchef-townsquare.md
Due: check-markdown-links

docs(journal): document lazygit config enhancement
  journal/2026-01-28-initial-setup.md
Due: check-markdown-links

docs(projects): add comprehensive FDM project and PR status tracking
  knowledge/projects/foresight-data-machines-status.md
Due: check-markdown-links

chore(projects): link all repos from bengt/projects
  projects/TownSquare
  projects/autobok
  projects/devices-infrastructure
  projects/infrastructure
  projects/obsidian-collab
  projects/platform-infrastructure
  projects/wedding-rsvp
Due: none

Add Claw/OpenClaw integration docs for Telegram messaging
  TOOLS.md
  knowledge/claw-integration.md
  scripts/send-telegram.sh
Due: check-markdown-links

Add autonomous run protocol: always start/finish with Telegram message
  knowledge/claw-integration.md
Due: check-markdown-links

Add bidirectional agent communication docs for Claw/gptme task delegation
  TOOLS.md
  knowledge/claw-communication.md
Due: check-markdown-links

docs(journal): O1-B visa setup and lawyer requirements analysis
  journal/2026-01-29-visa-setup-and-lawyer-analysis.md
Due: check-markdown-links

feat(visa): Initialize Vis as O1-B visa assistant
  ABOUT.md
  README.md
  VISA-GUIDE.md
Due: check-markdown-links

docs(lessons): add PR description style guide based on fpollock's examples
  lessons/workflow/pr-description-style.md
Due: check-markdown-links

Fix Telegram target to use chat ID 6129444888, add availability check
  TOOLS.md
  knowledge/claw-integration.md
Due: check-markdown-links

Revert to dev focus: remove visa work, add autobok P0 bug task
  ABOUT.md
  README.md
  VISA-GUIDE.md
  journal/archive-2026-01-29-visa.md
  tasks/fix-autobok-p0-bugs.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Configure autonomous-run.sh for Bengt
  scripts/runs/autonomous/autonomous-run.sh
Due: none

Add urgent task: Dokploy preview deployments
  tasks/from-claw/urgent-dokploy-previews.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Update queue: Bug #4 complete, PR #28 ready
  state/queue-manual.md
  tasks/from-claw/priority-shift-dev-work.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Update queue: Bug #3 complete, PR #29 ready
  state/queue-manual.md
Due: check-markdown-links

Add task: Continue all autobok issues (not just Dokploy)
  tasks/from-claw/continue-all-autobok-issues.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Set up Claw-GPTMe async communication protocol
  gptme.toml
  journal/2026-01-30-1600.md
  state/queue-manual.md
  tasks/dokploy-preview-implementation-guide.md
  tasks/dokploy-preview-setup.md
  tasks/from-claw/1738245000-info-communication-protocol.md
  tasks/from-claw/1738245600-task-learn-communication-system.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Add instruction: Set up GitHub watching for autobok
  tasks/from-claw/1739794500-instruction-github-watching.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Sync communication files and tasks from Claw
  knowledge/claw-integration.md
  scripts/runs/autonomous/autonomous-run.sh
  state/queue-manual.md
  tasks/dokploy-preview-implementation-guide.md
  tasks/dokploy-preview-setup.md
  tasks/from-claw/1738245000-info-communication-protocol.md
  tasks/from-claw/1738245600-task-learn-communication-system.md
  tasks/from-claw/1739794500-instruction-github-watching.md
  tasks/from-claw/continue-all-autobok-issues.md
  tasks/from-claw/priority-shift-dev-work.md
  tasks/from-claw/urgent-dokploy-previews.md
  tasks/host-autobok-dokploy.md
  tasks/redrawn-v2-rebuild.md
  tasks/setup-telegram-notifications.md
  tasks/wedding-rsvp-monitor.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Add instruction: Greptile reviews + GitHub autonomous setup
  tasks/from-claw/1739798800-instruction-greptile-github.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Update queue: Dokploy configuration complete
  state/queue-manual.md
  tasks/fix-autobok-p0-bugs.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Add overnight repo analysis summary
  tasks/from-claw/1739803200-info-repo-analysis-summary.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

Add collaboration question and room booking design proposal
  tasks/from-claw/1739836800-question-collaboration-workflow.md
  tasks/wedding-rsvp-room-booking-design.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs: update queue, task status, and add github listener configs
  .config/gptme-agent/github-autobok.yaml
  .config/gptme-agent/github-redrawn.yaml
  .config/gptme-agent/github-sb-web.yaml
  .config/gptme-agent/github-swedenbuilders.yaml
  .config/gptme-agent/github-wedding-rsvp.yaml
  knowledge/github-listeners-setup.md
  projects/redrawn
  projects/sb-web
  scripts/github-check.sh
  scripts/github-listeners.sh
  scripts/runs/autonomous/autonomous-run.sh
  state/queue-manual.md
  tasks/fix-autobok-p0-bugs.md
  tasks/from-claw/autobok-status-2026-02-01-0200.md
  tasks/from-claw/to-gptme.md
  tasks/from-gptme/1738294800-response-greptile-fixes.md
  tasks/from-gptme/1739798800-response-github-setup.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs: update queue with 2026-02-02 01:00 run notes
  state/queue-manual.md
Due: check-markdown-links

feat: set up Telegram notifications for Bengt
  knowledge/github-listeners-setup.md
  knowledge/telegram-notifications.md
  scripts/github-check.sh
  scripts/github-listeners.sh
  scripts/notify-telegram.sh
  state/queue-manual.md
  tasks/fix-autobok-p0-bugs.md
  tasks/from-gptme/1738294800-response-greptile-fixes.md
  tasks/setup-telegram-notifications.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs: update queue with 05:00 run completion
  state/queue-manual.md
Due: check-markdown-links

feat: configure XML tool format for gptme
  gptme.toml
Due: none

docs: update queue with 11:00 run completion
  state/queue-manual.md
Due: check-markdown-links

docs: add screenshot requirement for gptme
  tasks/from-claw/to-gptme.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs: update queue with 18:00 run - Stripe payment integration complete
  state/queue-manual.md
Due: check-markdown-links

docs: update gptme to send screenshots every heartbeat
  tasks/from-claw/to-gptme.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs(queue): update with storage service completion
  state/queue-manual.md
Due: check-markdown-links

docs(queue): update with authorization checks completion
  state/queue-manual.md
Due: check-markdown-links

docs: update work queue - account cache invalidation complete
  state/queue-manual.md
  tasks/fix-autobok-p0-bugs.md
Due: check-markdown-links, validate-task-frontmatter, validate-task-metadata

docs(queue): update with 03:00 run - obsidiancollab/redrawn status verification
  state/queue-manual.md
Due: check-markdown-links
